<h3>Die Zwischenablage ist leer</h3>
Gehen Sie <%= link_to 'zurück', '#', :class => 'back_link' %> und benutzen Sie die Funktion Zwischenablage, um Ordner oder Dateien in die Zwischenablage zu kopieren.
