<% content_for :title, t(:new_user) -%>

<h1><%= content_for :title %></h1>
<%= form_for @user, :url => { :action => 'create' } do |f| %>
	<%= render :partial => 'form', :locals => { :f => f } %>
<% end %>
