<div id="footer">
	<p class="footer">
		<a href="http://boxroom.rubyforge.org">Boxroom</a> is developed by Mischa Berger
		and released under the <a href="http://opensource.org/licenses/mit-license.php">MIT license</a>
	</p>
</div>