/*
*= require_self
*= require_tree .
*/

html, body { height: 100%; }
body { padding: 0px; margin: 0px; background-color: rgb(225,225,225); }
body, input { font-family: Arial; font-size: 13pt; }
input { padding: 3px; border: 1px solid rgb(210,210,210); }
input[type='button'], input[type='submit'] { background-color: #EEE; padding: 5px; }
input[type='file'] { border: 0; }
textarea { border: 1px solid rgb(210,210,210); width: 700px; padding: 10px; font-family: Arial; font-size: 10pt; }
img { border: 0; }
h1 { font-size: 20pt; text-transform: uppercase; }
h3 { font-size: 13pt; margin-bottom: 0; }
a { color: #BA303A; text-decoration: none; }
a:hover { text-decoration: underline; }
table { border-collapse: collapse; }
th { text-align: left; font-size: 11pt; }
td img { padding: 0; }

#container { min-height: 100%; position: relative; }
#header { background-color: rgb(0,39,77); color: #FFF; border-bottom: 2px solid rgb(8,58,127); min-height: 70px; }
#menu { background-color: rgb(0,24,49); border-bottom: 4px solid #BA303A; }
#content { position: relative; width: 850px; margin: 10px auto 0 auto; padding: 15px 25px 15px 25px; background-color: #FFF; border-radius: 8px; border-right: 1px solid #CCC; border-bottom: 1px solid #AAA; }
#footer { position: absolute; bottom: 0; width: 100%; background-color: rgb(0,24,49); color: #FFF; border-top: 4px solid #BA303A; }
#footer_spacer { height: 70px; }

#progress p span.status { margin-left: 3px; }
#progress p img { vertical-align: middle; margin-bottom: 4px; }

.menu { margin: 0; padding: 10px 15px 7px 15px; color: #FFF; }
.menu a, .footer a { color: #FFF; }
.footer { margin: 0; padding: 15px; text-align: center; }
.footer a { text-decoration: underline; }
.table_header td { font-weight: bold; }
.even td, .odd td, th { padding: 12px 7px 7px 7px; }
.even { background-color: #EEE; }
.odd { background-color: #FFF; }
.text_input { width: 280px; }
.user_welcome { float: right; margin-right: 15px; }
.user_welcome a { color: #FFF; text-decoration: underline; }
.user_groups { margin-right: 200px; display: block; }
.user_groups label { margin-right: 15px; }
.user_name, .user_expiration { min-width: 180px; }
.user_email { min-width: 370px; }
.group_name, .clipboard_item { min-width: 483px; }
.file_name { min-width: 250px; max-width: 400px; overflow: hidden; }
.file_name a, .shared_file a { color: #000; text-decoration: underline; }
.file_size { min-width: 100px; }
.disabled { color: #999; }
.breadcrumb { margin-bottom: 5px; padding: 4px; font-size: 11pt; background-color: #F6F6F6; border: 1px solid #DDD; border-bottom-color: #AAA; border-right-color: #CCC; display: inline-block; }
.nowrap { white-space: nowrap; }
.permission_column { width: 75px; text-align: center; }
.permissions_button, .back { display: inline-block; margin-top: 15px; }
.clipboard_empty { margin-top: 35px; }
.clipboard_info_image { float: left; margin: 3px 15px 15px 0; }
.button_to, .button_to div { display: inline; }
.emails_to_share_with { height: 39px; width: 755px; }
.share_message { height: 80px; width: 755px; }
.shared_file { display: inline-block; min-width: 400px; padding: 15px; background-color: #EEE; }
.shared_file img { margin-right: 8px; }
.share_link_emails { font-size: 11pt; }
.comma_seperated, .optional { position: relative; top: -1px; left: 3px; font-size: 10pt; }
.char_counter { float: right; margin: 5px 75px 0 0; font-size: 10pt; }
.translation .missing, .red { color: #F00; }

.error, .notice { position: absolute; top: 0; left: 0; width: 100%; text-align: center; }
.error { background-color: rgba(255,0,0,0.8); }
.notice { background-color: rgba(0,165,0,0.7); }

.error p, .notice p { display: inline-block; font-size: 16pt; color: #FFF; margin: 0; padding: 10px 0 10px 45px; background-repeat: no-repeat; background-position: 0 5px; }
.error p { background-image: url(exclamation.png); }
.notice p { background-image: url(information.png); }

span.field_with_errors input, span.field_with_errors textarea { background-color: #FDD; }
#errorExplanation { width: 500px; border: 2px solid #c00; padding: 7px 7px 15px 7px; margin: 10px 0 10px 0; background-color: #f0f0f0; }
#errorExplanation p { padding-left: 8px; }
#errorExplanation h2 { text-align: left; font-size: 14pt; font-weight: bold; padding: 5px 5px 5px 15px; margin: -7px; margin-bottom: 7px; background-color: #c00; color: #fff; }
#errorExplanation ul { margin: 0; }
#errorExplanation ul li { list-style: square; }

.folder_menu, .user_menu, .group_menu { padding: 7px 14px 7px 14px; }
.folder_menu a, .user_menu a, .group_menu a { outline: none; }

.highlight { display: inline-block; margin: -7px 0 -7px 0; padding-left: 14px; background-color: #BA303A; border-radius: 15px; }
.highlight span { display: inline-block; height: 27px; padding: 7px 14px 0 0; }
.highlight a { text-decoration: none; color: #FFF; outline: none; }
